{%extends "blog/base.html"%} {%block content%}
<h1>{{ post.title }}</h1>
<hr />
<p>
  <span class="author">{{ post.author }}</span> {{ post.pub_date }}
</p>
<p class="post-content">{{ post.body }}</p>
<hr />
{% with comments.count as total_comments %}
<h6>{{ total_comments }} comment{{ total_comments | pluralize }}</h6>
{% endwith %} {% for comment in comments %}
<div class="comment">
  <p class="info">
    Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}
  </p>
  {{ comment.body | linebreaks }}
</div>
{% empty %}
<p>There are no comments yet.</p>
{% endfor %} {% if new_comment %}
<h4>Your comment has been added.</h4>
{%else%}
<h2>Add a new comment</h2>
<form method="POST">
  {{ comment_form.as_p }} {%csrf_token%}
  <p><input type="submit" value="add comment" /></p>
</form>
{%endif%} {%endblock%}
